// Place all the styles related to the whiskyies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// トップページ
.whisky_list {
    width: 140px;
    margin: 4px 0;
    text-align: center;
}

.whisky_image {
    object-fit: contain;
    height: 120px;
}

.whisky_list p {
    line-height: 1;
}

.whisky_list a {
    font-weight: bold;
    font-size: 12px;
}

// 詳細ページ
.whisky_detail {
    display: flex;
    justify-content: space-between;
}

.whisky_detail_name {
    width: 39%;
}

.whisky_detail_description {
    width: 59%;
}

.whisky_detail_description a {
    color: #B47C20;
}