@import 'reset';
@import 'scaffolds';
@import 'sessions';
@import 'users';
@import 'whiskies';
@import 'memos';
* {
    box-sizing: border-box;
}

.container {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    // position: absolute;
    // width: 100%;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
}

.container_inner {
    margin: 0 5px;
}

.min_height_non_header {
    min-height: calc( 100vh - 80px);
}

.scroll_120 {
    max-height: calc( 100vh - 40px - 80px);
    overflow-y: scroll;
}

.scroll_190 {
    max-height: calc( 100vh - 110px - 80px);
    overflow-y: scroll;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    width: 80%;
}

.header_lists {
    display: flex;
}

.header_list {
    margin: 0 10px;
}

.back {
    display: block;
    height: 40px;
    line-height: 40px;
}

.fiexed_btn {
    position: fixed;
    right: 0;
    bottom: 100px;
    background-color: #B47C20;
    text-align: center;
    border-radius: 50%;
}

@media all and (min-width: 500px) {
    .fiexed_btn {
        right: calc( ( 100vw - 500px) / 2);
    }
}

.fiexed_btn a {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 46px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

.notice {
    position: absolute;
    top: 10px;
    left: 10px;
}

.main_title {
    font-size: 30px;
}

.login_title {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

// 登録ページ
.form_textarea textarea {
    width: 100%;
    height: 200px;
}

.form_actions input {
    display: block;
    margin: 20px 0;
    background-color: #B47C20;
    color: #fff;
    border-radius: 5px;
}

.footer_lists {
    display: flex;
    align-items: center;
    background-color: black;
    height: 80px;
}

.footer_list {
    font-size: 14px;
    width: 20%;
    color: white;
    text-align: center;
}

.footer_list a {
    color: white;
    display: block;
    line-height: 80px;
}

// .footer {
//     position: fixed;
//     width: 100%;
//     bottom: 0;
// }